:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --background-color: rgb(246, 63, 46);
    --primary-color: rgb(246, 63, 46); 
    --text-hover-color : #4accd4;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.gird__col-2 {
    width: 16.6667%;
    padding-left: 5px;
    padding-right: 5px;
}
.gird__col-2-4 {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}
.gird__col-10 {
    width: 83.3334%;
    padding-left: 5px;
    padding-right: 5px;
}
.btn {
    height: 37px;
    min-width: 100px;
    line-height: 37px;
    color: #fff;
    background-color:#4accd4 ;
    border-radius: 24px;
    font-size: 1.6rem;
    text-decoration: none;
}
.btn-lg {
    width: 262px;
}
.btn--black {
    background-color: #000;
}
.button-buy {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 12px 16px;
    background-color: black;
    border-radius: 20px;
    font-weight: 600;
}
.button-buy:hover {
    color: var(--text-hover-color);
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes scaleFadeInTopRight {
    from {
        opacity: 0;
        transform: scale(0);
        transform-origin: top right;
    }
    to {
        opacity: 1;
        scale: (1);
    }
}
@keyframes scaleFadeIn {
    from {
        opacity: 0;
        transform: scale(var(--growth-from));
    }
    to {
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}
